.DS_Store
.env
.idea/
.pytest_cache/
.pyright/
.ruff_cache/
.streamlit/secrets.toml
.venv/
.vscode/
__pycache__/
*.egg-info/
*.py[cod]
build/
dist/

data/*
!data/README.md

/artifacts/
htmlcov/
.coverage

!AGENTS.md
