.DS_Store
.env
.idea/
.pytest_cache/
.pyright/
.ruff_cache/
.streamlit/secrets.toml
.venv/
.vscode/
__pycache__/
*.egg-info/
*.py[cod]
build/
dist/

data/*
!data/README.md

/artifacts/
/demo_artifacts/*
!/demo_artifacts/v0.1.0/
!/demo_artifacts/v0.1.0/**
htmlcov/
.coverage
coverage.xml

!AGENTS.md
